<div class="row">
<div class="span12">      		
	   		
	<div class="widget ">
		<div class="widget-header">
			<i class="icon-plus"></i>
 			<h3>编辑代理商</h3>
		</div> <!-- /widget-header -->

		<div class="widget-content">
		
		<div class="alert alert-danger hide" role="alert"></div>

		<form id="add-task" action="{{urlfor "OrganizationController.Edit"}}" method="post" class="form-horizontal">
			<input type="hidden" name="id" value="{{.organization.Id}}" />
			<fieldset>
				
				<div class="control-organization">											
					<label class="control-label" for="organization_name">代理商名</label>
					<div class="controls">
						<input type="text" name="organization_name" class="span6" value="{{.organization.OrganizationName}}" id="organization_name">
					</div>				
				</div>
				
				<div class="control-organization">											
					<label class="control-label" for="description">说明</label>
					<div class="controls">
						<textarea name="description" class="span6" id="description" rows="6">{{.organization.Description}}</textarea>
					</div> <!-- /controls -->				
				</div> <!-- /control-organization -->
		
				<br />
				
					
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">保 存</button> 
					<a href="{{urlfor "OrganizationController.List"}}" class="btn">返 回</a>
				</div> <!-- /form-actions -->
			</fieldset>
		</form>

		</div>
	</div>
</div>
</div>

<script>
$(function () {
	$("form").submit(function () {
		$(".alert").hide();
		$("button[type='submit']").attr('disabled', true);
		$.post('{{urlfor "OrganizationController.Edit"}}', $(this).serialize(), function (out) {
			if (out.status == 0) {
				window.location.href = '{{urlfor "OrganizationController.List"}}';
			} else {
				$(".alert").text(out.msg);
				$(".alert").show();
				$("button[type='submit']").attr('disabled', false);
			}
		}, "json");
		return false;
	});
});
</script>